# Read the documentation: https://symfony.com/doc/master/bundles/FOSRestBundle/index.html
fos_rest:
  param_fetcher_listener: force
  body_listener: true
  view:
    view_response_listener: true
  format_listener:
    rules:
      - { path: ^/, priorities: [json, html], fallback_format: json, prefer_extension: true }
  exception:
    codes:
      Symfony\Component\Routing\Exception\ResourceNotFoundException: 404
      Symfony\Component\HttpKernel\Exception\TooManyRequestsHttpException: 429
      Symfony\Component\HttpKernel\Exception\UnprocessableEntityHttpException: 422
      FOS\RestBundle\Exception\InvalidParameterException: 422
    messages:
      Symfony\Component\HttpKernel\Exception\TooManyRequestsHttpException: true
      FOS\RestBundle\Exception\InvalidParameterException: true
    map_exception_codes: true

#    allowed_methods_listener:  true
#    routing_loader: true
#    view:
#        view_response_listener:  true
#    exception:
#        codes:
#            App\Exception\MyException: 403
#        messages:
#            App\Exception\MyException: Forbidden area.
#    format_listener:
#        rules:
#            - { path: ^/api, prefer_extension: true, fallback_format: json, priorities: [ json, html ] }
